*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    
    justify-content: center;
    align-items: center;
    font-family: ubuntu;
    z-index: 1;
    background: linear-gradient(-45deg, rgb(22, 92, 1), rgb(17, 1, 37), rgb(43, 3, 48), rgb(110, 31, 0));
    background-size: 400% 400%;
    width: 100%;
    height: 100vh;
    animation: animate 5s ease infinite;
    
}
/*FOOTER*/
footer {

    background-color: #000;
    color: #fff;
    height: 150px;
    display: flex;
    justify-content: center;
    margin-top: 150px;
    bottom: 100px;
}



.header ul {
    height: 50px;
    display: flex;
    justify-content: center;
}

.header ul li {
    display: inline;
    padding: 40PX 15px;
}

.header ul li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    padding: 5px 10px;
}

.header ul li a:hover {
    background: #fff;
    color: #000;
}

.header h2 {
    text-align: center;
    color: #fff;
    font-size: 60px;
    margin-top: 7%;
    margin-bottom: 20px;
}

.header p {
    text-align: center;
    font-size: 18px;
    width: 35%;
    margin: auto;
    color: #ddd;
    line-height: 1.7;
}

@keyframes animate {
    0% {
        background-position: 0 50%;
    }

    5% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}



/*----formulario----*/
.formulario {
    max-width: 650px;
    height: 350px;
    margin: auto;
    border-radius: 10px;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.2);
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.6);
    margin-top: 80px;
}



.formulario form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.h2 {
    font-size: 26px;
    font-weight: bold;
    text-align: left;
    color: #fff;
    padding-bottom: 8px;
    border-bottom: 1px solid silver;
}

.contenido {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 0;
}

.input-box {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    padding-bottom: 15px;
}

.input-box:nth-child(2n) {
    justify-content: end;
}
